<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {{!-- BootStrap 5 CSS --}}
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="icon" href="../../assets/images/logo.webp">
  <title>Capkeybara Admin | {{#block "title"}}{{/block}}</title>
</head>
<body>
  {{#each success_messages}}
  <div class="alert alert-success">
    {{!-- displays each success message --}}
    {{this}}
  </div>
  {{/each}}
  {{#each error_messages}}
    <div class="alert alert-danger">
      {{!-- displays each error message --}}
      {{this}}
    </div>
  {{/each}}
  <div class="container">
      <!-- A grey horizontal navbar that becomes vertical on small screens -->
      <nav class="navbar navbar-expand-sm bg-light">

        <div class="container-fluid">
          <!-- Links -->
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="#">Link 1</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link 2</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link 3</a>
            </li>
          </ul>
          <div>
            {{#if admin}}
              Hello, {{admin.username}}
              <a href="/admin/logout" class="btn btn-danger btn-sm">Logout</a>
              {{else}}
              <a href="/admin/login" class="btn btn-success btn-sm">Login</a>
            {{/if}}
          </div>
        </div>

      </nav>
    {{#block "content"}}
  
  
    {{/block}}
  </div>
  
  {{!-- BootStrap 5 JS --}}
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  {{!-- Add CSRF to all form element --}}
  <script>
    const forms = document.querySelectorAll('form');
    for (let eachForm of forms) {
      const hiddenElement = document.createElement("input");
      hiddenElement.type = "hidden";
      hiddenElement.name = "_csrf";
      hiddenElement.value = "{{csrfToken}}";
      eachForm.appendChild(hiddenElement);
    }
  </script>
  {{#block "js"}}{{/block}}
</body>
</html>