{{#extends "base"}}

{{#block "content"}}
<h1>All Products</h1>
<table class="table">
  <thead>
    <th>Product ID</th>
    <th>Name</th>
    <th>Description</th>
    <th>Price</th>
    <th>Cost</th>
    <th>Quantity Available</th>
    <th>Quantity Sold</th>
    <th>Category</th>
    <th></th>
  </thead>
  {{#each products}}
  <tbody>
    <tr>
      <td>{{this.id}}</td>
      <td>{{this.name}}</td>
      <td>{{this.description}}</td>
      <td>{{this.price}}</td>
      <td>{{this.cost}}</td>
      <td>{{this.quantity}}</td>
      <td>{{this.quantity_sold}}</td>
      <td>{{this.category.name}}</td>
          <td>
      <a href="/products/edit/{{this.id}}">Edit</a>
    </td>
    </tr>
  </tbody>
  {{/each}}


</table>
{{/block}}

{{/extends}}